.find-us{
    padding: 7rem 3rem;
    background-color: $color-primary;
    background-image: url('./../img/overlay.png');
    h2{
        line-height: 1;
        font-size: 4rem;
        color: $color-secondary;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        color: #fff;
        font-size: 15px;
        span{
            color: $color-secondary;
        }
    }
    .address{
        p{
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        
    }
    @media(min-width: 415px){
        h2{
            font-size: 6rem;
        }
    }
    @media(min-width: 769px){
        padding: 7rem 13rem;
    }
}
